In [23]:
a

100

# comments : are used to describe the code

- in order to enhance the readibilty of the code
- it also helps in debugging

## there are two types of comments
- single line
- multiline commnets

# single line comment : using #

In [9]:
#this is my first code which displays hello
print("helo") # print is inbuilt function which displays the output

helo

# multiline comments

In [5]:
# this is my first code
# here i m learning print fucntion
# print is inbuilt function
print("helo")

helo

# or

In [6]:
'''sdjljsda
dsakhkhjds
dshkhjdsa
dskh'''
print("helo")

helo

# variables: are used to hold the data. It acts like a container to store the value

# how to create/define the variable?

name_variable=value

In [24]:
a=90 # a is variable where 90 is assigned to it

# id(): it is inbuilt function which tells the address of the variable

In [12]:
id(a)

2697837630608

# how to access the variable?

In [13]:
a

90

In [14]:
a+3

93

In [15]:
b=a+3

In [16]:
id(b)

2697837630704

In [17]:
b

93

In [18]:
a

90

# scope of the variable

In [19]:
a

90

In [29]:
a=100

In [27]:
a

100

# identifiers : are the naming rules for the variables,functions etc

- begin with alphabet or only one special character i.e underscore _ is allowed
- it can have alphabets, digits and only one special character i.e underscore _  is allowed anywhere followed by begining
- it should not be a keywords
- it could be of any length
- it is case sensitive

# rule 1: begin with alphabet or only one special character i.e underscore _ is allowed

In [30]:
balmeet=100

In [31]:
balmeet

100

In [32]:
_balmeet=90

In [33]:
1balmeet=90

SyntaxError: invalid syntax (3096774933.py, line 1)

In [34]:
@balmeet=90

SyntaxError: invalid syntax (124570431.py, line 1)

# rule 2: it can have alphabets, digits and only one special character i.e underscore _ is allowed anywhere followed by begining

In [35]:
balmeet123=90

In [48]:
balmeet kaur=100

SyntaxError: invalid syntax (1180332304.py, line 1)

In [37]:
balmeet_kaur=90

# rule 3: it could be of any length

In [40]:
sahdjhsdgsadgksgdasgdsgadjgasjdgs,jgdjsagdjsdjgsdgsjgdjsagdjsgdjsa=90

TypeError: cannot unpack non-iterable int object

In [39]:
sahdjhsdgsadgksgdasgdsgadjgasjdgsjgdjsagdjsdjgsdgsjgdjsagdjsgdjsa

90

## rule 4: it is case sensitive

In [41]:
madrid=90

In [42]:
Madrid=100

# rule 5: it should not be a keywords

## keywords : are the reserved words which has pre defined meaning

In [43]:
import keyword

In [44]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [45]:
pass=90

SyntaxError: invalid syntax (2543139966.py, line 1)

In [46]:
Pass=90

In [49]:
_____=60

In [50]:
_____

60

# data types : defines the types of data

- numeric
   - int
   - float
   - complex
- bool
- sequence 
   - string
   - list
   - tuple
- dictionary
- set

# numeric

# int : integer data/value:

- are the positive or negative numbers without decimal

In [53]:
a=90
print(a)
print(type(a)) # type is inbuilt function which tells the type of data

90
<class 'int'>

In [54]:
a=-90
print(a)
print(type(a))

-90
<class 'int'>

# float : numbers with decimal

In [55]:
b=34.56788
print(b)
print(type(b))

34.56788
<class 'float'>

# complex : real+imaginary

In [56]:
a=6+7j
print(a)
print(type(a))

(6+7j)
<class 'complex'>

# bool: True or False

In [57]:
a=True
print(a)
print(type(a))

True
<class 'bool'>

In [58]:
a=False
print(a)
print(type(a))

False
<class 'bool'>

In [59]:
a=true
print(a)
print(type(a))

NameError: name 'true' is not defined

# sequence

## string: Texual data

## note : any thing(alphabet,digits or any special character) in quotes  consider as my string

## How to create the string 
- using single quotes
- using double quotes
- using three triple quotes

# using single quotes

In [60]:
s='balmeet'
print(s)
print(type(s))

balmeet
<class 'str'>

# using double quotes

In [61]:
s="balmeet"
print(s)
print(type(s))

balmeet
<class 'str'>

In [63]:
s='hi how'r you'
print(s)
print(type(s))

SyntaxError: invalid syntax (2693127846.py, line 1)

In [64]:
s="hi how'r you"
print(s)
print(type(s))

hi how'r you
<class 'str'>

In [66]:
s='hi how"r you'
print(s)
print(type(s))

hi how"r you
<class 'str'>

# using triple quotes : multiline string

In [67]:
s='''fdffsd
dfdd
dfsdsf'''
print(s)
print(type(s))

fdffsd
dfdd
dfsdsf
<class 'str'>

In [68]:
s='balmeet@123kaur'
print(type(s))

<class 'str'>

In [70]:
s=123
print(type(s))

<class 'int'>

# list: it is the collection of multiple elements

# how to create the list: using []

In [71]:
student=["101",'jai','ds','saket delhi',67.8] # hetrogenous
print(student)
print(type(student))

['101', 'jai', 'ds', 'saket delhi', 67.8]
<class 'list'>

In [73]:
marks=[23,45,67,89,90] # homegenous
print(marks)
print(type(marks))

[23, 45, 67, 89, 90]
<class 'list'>

# tuple : same as list

using ()

In [74]:
student=("101",'jai','ds','saket delhi',67.8) # hetrogenous
print(student)
print(type(student))

('101', 'jai', 'ds', 'saket delhi', 67.8)
<class 'tuple'>

# dictionary and set : skip

# type casting : type conversion

# int to float

In [76]:
a=90
print(a)
print(type(a))
b=float(a)
print(b)
print(type(b))

90
<class 'int'>
90.0
<class 'float'>

# float to int

In [77]:
a=90.983837737
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))

90.983837737
<class 'float'>
90
<class 'int'>

# int to str

In [79]:
a=10
print(a)
print(type(a))
b=str(a)
print(type(b))
b

10
<class 'int'>
<class 'str'>

'10'

# float to str

In [80]:
a=90.983837737
print(a)
print(type(a))
b=str(a)
print(type(b))
b

90.983837737
<class 'float'>
<class 'str'>

'90.983837737'

# str to float

In [81]:
a="hello"
print(a)
print(type(a))
b=float(a)
print(b)
print(type(b))

hello
<class 'str'>

ValueError: could not convert string to float: 'hello'

In [82]:
a="98.655"
print(a)
print(type(a))
b=float(a)
print(b)
print(type(b))

98.655
<class 'str'>
98.655
<class 'float'>

In [83]:
a="hello"
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))

hello
<class 'str'>

ValueError: invalid literal for int() with base 10: 'hello'

# str to int

In [87]:
a="90.34566" # it requires double conversion
print(a)
print(type(a))
b=float(a)
x=int(b)
print(x)
print(type(x))

90.34566
<class 'str'>
90
<class 'int'>

# int to bool


note : any positive or negative integer is treated as True 
and 0 is treated as False

In [88]:
a=80
print(a)
print(type(a))
b=bool(a)
print(b)
print(type(b))

80
<class 'int'>
True
<class 'bool'>

In [89]:
a=-80
print(a)
print(type(a))
b=bool(a)
print(b)
print(type(b))

-80
<class 'int'>
True
<class 'bool'>

In [90]:
a=0
print(a)
print(type(a))
b=bool(a)
print(b)
print(type(b))

0
<class 'int'>
False
<class 'bool'>

# bool to int

In [91]:
a=True
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))

True
<class 'bool'>
1
<class 'int'>

In [92]:
a=False
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))

False
<class 'bool'>
0
<class 'int'>

# bool to str

In [94]:
a=True
print(a)
print(type(a))
b=str(a)
print(type(b))
b

True
<class 'bool'>
<class 'str'>

'True'

In [95]:
a=False
print(a)
print(type(a))
b=str(a)
print(type(b))
b

False
<class 'bool'>
<class 'str'>

'False'

# str to bool

In [96]:
a='helo'
print(a)
print(type(a))
b=bool(a)
print(type(b))
b

helo
<class 'str'>
<class 'bool'>

True

# note : any non empty string is treated as True and empty string is treated as False

In [100]:
a=''
print(a)
print(type(a))
b=bool(a)
print(type(b))
b

<class 'str'>
<class 'bool'>

False

# str to list

In [102]:
a="madrid solutions"
print(a)
print(type(a))
b=list(a)
print(type(b))
b

madrid solutions
<class 'str'>
<class 'list'>

['m',
 'a',
 'd',
 'r',
 'i',
 'd',
 ' ',
 's',
 'o',
 'l',
 'u',
 't',
 'i',
 'o',
 'n',
 's']

# LIST TO STR

In [103]:
a=["BOY",23,56.8]
print(a)
print(type(a))
b=str(a)
print(type(b))
b

['BOY', 23, 56.8]
<class 'list'>
<class 'str'>

"['BOY', 23, 56.8]"

In [104]:
len(b)

17

# list to tuple

In [105]:
a=["BOY",23,56.8]
print(a)
print(type(a))
b=tuple(a)
print(type(b))
b

['BOY', 23, 56.8]
<class 'list'>
<class 'tuple'>

('BOY', 23, 56.8)

In [106]:
a=("BOY",23,56.8)
print(a)
print(type(a))
b=list(a)
print(type(b))
b

('BOY', 23, 56.8)
<class 'tuple'>
<class 'list'>

['BOY', 23, 56.8]

# dict, set

# input and print function

# input(): it is inbuilt function which takes the input from user

In [114]:
a=input("enter the value ")

enter the value 67

In [115]:
a

'67'

note : input always interprets the input in string

# print() : It is inbuilt function which is responsible to display the output

In [116]:
print(45)

45

In [117]:
print(34,True,"balmeet",78.9)

34 True balmeet 78.9

In [118]:
a=90

In [120]:
print("a")

a

In [121]:
name=input("enter the name ")
print("hi",name,"how r u ?")

enter the name balmeet
hi balmeet how r u ?

In [122]:
# sep

In [123]:
print("hi",name,"how r u?",78.9,True,"helo")

hi balmeet how r u? 78.9 True helo

In [124]:
print("hi",name,"how r u?",78.9,True,"helo",sep='-')

hi-balmeet-how r u?-78.9-True-helo

In [125]:
# end

In [128]:
print("hi","how r u",end="----------------------")
print("I love python",end="balmeet")
print("hope u r doing good","we are learning data science")

hi how r u----------------------I love pythonbalmeethope u r doing good we are learning data science

# operators :

- Arithemetic
- relational
- logical
- bitwise
- shorthand
- special 
   - membership
   - identity

# Arithemetic

In [134]:
num1=int(input("enter the first  number "))
num2=int(input("enter the second  number "))

print("the sum of ",num1,"and",num2,"is ",num1+num2)
print("the sub of ",num1,"and",num2,"is ",num1-num2)
print("the div of ",num1,"and",num2,"is ",num1/num2)
print("the floor div of ",num1,"and",num2,"is ",num1//num2)
print("the modulus of ",num1,"and",num2,"is ",num1%num2)
print("the exponent of ",num1,"and",num2,"is ",num1**num2)

enter the first  number 5
enter the second  number 2
the sum of  5 and 2 is  7
the sub of  5 and 2 is  3
the div of  5 and 2 is  2.5
the floor div of  5 and 2 is  2
the modulus of  5 and 2 is  1
the exponent of  5 and 2 is  25

# relational operator

In [135]:
num1=int(input("enter the first  number "))
num2=int(input("enter the second  number "))
print("the result of == ",num1,"and",num2,num1==num2)
print("the result of !- ",num1,"and",num2,num1!=num2)
print("the result of < ",num1,"and",num2,num1<num2)
print("the result of <= ",num1,"and",num2,num1<=num2)
print("the result of > ",num1,"and",num2,num1>num2)
print("the result of >= ",num1,"and",num2,num1>=num2)

enter the first  number 56
enter the second  number 70
the result of ==  56 and 70 False
the result of !-  56 and 70 True
the result of <  56 and 70 True
the result of <=  56 and 70 True
the result of >  56 and 70 False
the result of >=  56 and 70 False

# logical
- or
- and
- not

In [136]:
print("True or True : ",True or True)
print("True or False : ",True or False)
print("False or True : ",False or True)
print("False or False : ",False or False)

True or True :  True
True or False :  True
False or True :  True
False or False :  False

In [137]:
print("True and True : ",True and True)
print("True and False : ",True and False)
print("False and True : ",False and True)
print("False and False : ",False and False)

True and True :  True
True and False :  False
False and True :  False
False and False :  False

In [140]:
not(False)

True

In [142]:
89 or 67

89

In [143]:
0 or 90

90

In [144]:
-9 or 56

-9

In [145]:
0 and 56

0

In [146]:
90 and 78

78

In [148]:
0 and -56

0

In [149]:
not(78)

False

In [150]:
not(-8)

False

In [151]:
not(0)

True

# note : any non empty string is treated as True and empty string is considerd as False

In [154]:
"madrid" and "solutions"

'solutions'

In [155]:
"madrid" and " "

' '

In [158]:
"" and "madrid"

''

In [160]:
not("sddsddsdsd")

False

In [161]:
# bitwise: skip

# shorthand

 a+=1: expanded form a=a+1

In [164]:
a=9
b=1
a/=b   # a=a+b
print(a)

9.0

# special operator

## membership: 

 in 
 
 not in

In [165]:
"g" in "madrid"

False

In [166]:
"m" in "madrid"

True

In [167]:
"ma" in "madrid"

True

In [168]:
"mar" in "madrid"

False

In [169]:
"mad" in "madrid"

True

In [170]:
12 in "balmeet@1234"

TypeError: 'in <string>' requires string as left operand, not int

In [171]:
"12" in "balmeet@1234"

True

In [173]:
"12454665"  not in "balmeet@1234"

True

In [174]:
"12" in 123

TypeError: argument of type 'int' is not iterable

In [175]:
l=["madrid","12356@456",123,"567","python","90.8"]
"mad" in l

False

In [176]:
l=["madrid","12356@456",123,"567","python","90.8"]
"67" in l

False

In [178]:
"90.8" in l

True

In [179]:
"1234" in l

False

# identity : 
 - is
 - is not

In [181]:
a=90
b=900
print(id(a))
print(id(b))
a is b

2697837630608
2697954563312

False

In [182]:
a=90
b=a
print(id(a))
print(id(b))
a is b

2697837630608
2697837630608

True

# Raj has 24 candies, simran has 34 candies, aditya has 21 candies . Candies would be equally distributed
# How many candies need to be distributed to each of them and remaning candies need to given to diksha ?

In [185]:
r=24
s=34
a=21
total=r+s+a
print("the total candies  ",total)
ec=total//3
print("each one gets ",ec)
rem=total%3
print("diksha gets ",rem)

the total candies   79
each one gets  26
diksha gets  1

# escape sequence : are the special characters that are not considered as normal characters when we use as a  a part of string rather they themseleves converted into their own meaning

In [186]:
# \n : new line

In [187]:
print("balmeet\nkaur")

balmeet
kaur

In [188]:
# task : "balmeet\nkaur"

In [ ]:
# \ backslash

In [190]:
print('balmeet\\nkaur')

balmeet\nkaur

In [191]:
# task : balmeet/nkaur

In [192]:
print("balmeet/nkaur")

balmeet/nkaur

In [193]:
# \t : tab

In [194]:
print("balmeet\tkaur")

balmeet	kaur

In [195]:
print("balmeet\\tkaur")

balmeet\tkaur

In [196]:
# task : hi how'r u : using single quotes

In [198]:
print("hi how'r u ")

hi how'r u

In [200]:
print('hi how\'r u ')

hi how'r u

In [201]:
# \b : backspace

In [202]:
print("balmeet\bkaur")

balmeetkaur

In [203]:
r=float(input("enter the radius "))
area=3.14*r**2
print("the area is ",area)

enter the radius 5
the area is  78.5

In [205]:
n1=int(input("enter the first number "))
n2=int(input("enter the second number "))
n3=int(input("enter the third number "))
s=n1+n2+n3
print("the result is  ",3*s)

enter the first number 4
enter the second number 5
enter the third number 7
the result is   48

In [206]:
# swapping

In [207]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
print("before swapping ")
print("the value of a ",a)
print("the value of b ",b)
temp=a
a=b
b=temp
print("after swapping")
print("the value of a is ",a)
print("the value of b is ",b)

enter the value of a56
enter the value of b78
before swapping
the value of a  56
the value of b  78
after swapping
the value of a is  78
the value of b is  56

In [208]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
print("before swapping ")
print("the value of a ",a)
print("the value of b ",b)
a,b=b,a
print("after swapping")
print("the value of a is ",a)
print("the value of b is ",b)

enter the value of a67
enter the value of b12
before swapping
the value of a  67
the value of b  12
after swapping
the value of a is  12
the value of b is  67

# operator precendence and associativity

In [212]:
print(3+4*2/1<6)

False

operatorshttps://www.geeksforgeeks.org/precedence-and-associativity-of-operators-in-python/